* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    color: rgb(51, 139, 255);
    margin-bottom: 2rem;
    font-size: 3rem;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input, select {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

label {
    margin-bottom: 0.5rem;
    color: rgb(51, 139, 255);
    font-weight: bold;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(51, 139, 255);
    color: white;
    cursor: pointer;
    width: 300px;
    font-size: 32px;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}
